@page 

@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurant";

}
<h1>Restaurtants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <button class="bnt btn-outline-info">SEARCH</button>
        </div>
    </div>
</form>

@foreach(var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}
<a asp-page=".\Edit" class="btn btn-primary">Add new</a>
@section footer{
    <div>@Model.Message</div>
 }
